@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 18.5rem;
    height: 29.8rem;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img {
    border-radius: 10px;
    margin: 17px 10px;
}

.card h2 {
    margin: 0px 17px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-family: 'Outfit', sans-serif;
    margin: 10px 20px;
    margin-bottom: 46px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
